services:
  app:
    build: .
    container_name: cache-warming-api
    ports:
      - "8008:8008"
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    ports:
      - "6387:6379"

